Repository InformatikLK-LLG/mke, pull requests merged in 2021-07, with the labels that each got.

#28 Feature/14-Institution-View
  web/package-lock.json
  web/package.json
  web/public/index.html
  web/src/App.test.tsx
  web/src/App.tsx
  web/src/Wrapper.tsx
  web/src/components/BookingCalendar.tsx
  web/src/components/Button.tsx
  web/src/components/Delayed.tsx
  web/src/components/Dropdown.tsx
  web/src/components/Form.tsx
  web/src/components/FormErrorMessage.tsx
  web/src/components/InstitutionOverlay.tsx
  web/src/components/Loading.tsx
  web/src/components/NavBar.tsx
  web/src/components/NoTrespassing.tsx
  web/src/components/PlacesAutocomplete.tsx
  web/src/components/PrivateRoute.tsx
  web/src/components/Table.tsx
  web/src/hooks/useAuth.tsx
  web/src/hooks/useCustomers.tsx
  web/src/hooks/useInstitution.tsx
  web/src/hooks/useInstitutions.tsx
  web/src/index.tsx
  web/src/pages/Institution.tsx
  web/src/pages/Logout.tsx
  web/src/pages/PageNotFound.tsx
  web/src/styles/Form.css
  web/src/styles/NavBar.css
  web/src/styles/index.css
  web/yarn.lock
Labels: web

#19 GET and DELETE customer endpoint
  server/src/main/java/de/llggiessen/mke/controller/CustomerController.java
  server/src/main/java/de/llggiessen/mke/repository/CustomerRepository.java
  server/src/main/java/de/llggiessen/mke/schema/Customer.java
Labels: server

#31 Feature/13 customer view
  server/src/main/java/de/llggiessen/mke/controller/CustomerController.java
  server/src/main/java/de/llggiessen/mke/controller/InstitutionController.java
  server/src/main/java/de/llggiessen/mke/repository/CustomerRepository.java
  server/src/main/java/de/llggiessen/mke/repository/InstitutionRepository.java
  server/src/main/java/de/llggiessen/mke/schema/Address.java
  server/src/main/java/de/llggiessen/mke/schema/Customer.java
  server/src/main/java/de/llggiessen/mke/schema/Institution.java
  web/src/App.tsx
  web/src/Wrapper.tsx
  web/src/components/Button.tsx
  web/src/components/Form.tsx
  web/src/components/FormErrorMessage.tsx
  web/src/components/InstitutionDetails.tsx
  web/src/components/InstitutionOverlay.tsx
  web/src/components/PlacesAutocomplete.tsx
  web/src/components/PrivateRoute.tsx
  web/src/components/Table.tsx
  web/src/hooks/useCustomer.tsx
  web/src/hooks/useCustomers.tsx
  web/src/hooks/useInstitutions.tsx
  web/src/pages/Customer.tsx
  web/src/pages/Institution.tsx
  web/src/pages/Login.tsx
  web/src/resources/blume.jpg
  web/src/styles/Form.css
  web/src/styles/index.css
  web/yarn.lock
Labels: web

#32 Table Filter
  server/src/main/java/de/llggiessen/mke/controller/CustomerController.java
  server/src/main/java/de/llggiessen/mke/controller/InstitutionController.java
  server/src/main/java/de/llggiessen/mke/repository/CustomerRepository.java
  server/src/main/java/de/llggiessen/mke/repository/InstitutionRepository.java
  web/src/components/Table.tsx
  web/src/hooks/useCustomer.tsx
  web/src/hooks/useCustomers.tsx
  web/src/hooks/useInstitution.tsx
  web/src/hooks/useInstitutions.tsx
  web/src/pages/Customer.tsx
  web/src/pages/Institution.tsx
Labels: enhancement, web

#33 Input validation
  server/src/main/java/de/llggiessen/mke/controller/BookingController.java
  server/src/main/java/de/llggiessen/mke/controller/CustomerController.java
  server/src/main/java/de/llggiessen/mke/controller/InstitutionController.java
  server/src/main/java/de/llggiessen/mke/repository/InstitutionRepository.java
  server/src/main/java/de/llggiessen/mke/schema/Institution.java
  server/src/main/java/de/llggiessen/mke/utils/FormValidation.java
  web/src/pages/Customer.tsx
  web/src/pages/Institution.tsx
Labels: server, web
